html, body {
  min-height: 100%;
}

html {
  position: relative;
}

body {
  margin-top: 30px;
  margin-bottom: 30px;
}

.container p {
  font-size: 1.2em;
  line-height: 2.2em;
}

#brand-image {
  float: left;
  margin-right: 20px;
}

#brand-name {
  margin-top: 12px;
  margin-bottom: 30px;
  font-weight: 200;
}

#intro p {
  margin: 0;
}

#pitch {
  margin-top: 30px;
}

.example-label {
  text-align: right;
  min-height: 30px;
}

.example-value {
  padding-top: 7px;
}

.example-money {
  font-family: Courier New;
  padding: 5px;
  background-color: #eee;
  font-size: 1.2em;
}

#example-image {
  float: left;
  max-height: 140px;
}

#download-wrapper {
  margin-top: 20px;
  text-align: center;
}

#download-wrapper p {
  text-align: left;
}

#site-info {
  position: absolute;
  bottom: 0;
  text-align: center;
  padding-bottom: 20px;
  font-size: 0.8em;
}
